.about_me{
    color: #fff;
    display: inline-block;
    margin-left: 30px;
    margin-top: 15%;
}

.info{
    color: #fff;
    display: inline-block;
    position: absolute;
    right: 20px;
    margin-top: 15%;
}

.strong_points ul li{
    padding-left: 30px;
    color: aquamarine;
}
.coding_points ul li{
    padding-left: 30px;
    color: aquamarine;
}